<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
</head>
<body>
    <!-- ページタイトル -->
    <h1>All Posts</h1>
    <!-- ページサブタイトル -->
    <h3>All posts are in here. Choose and click you are interested! </h3>
    <br>
    <div>
        <!-- ここに表示するデータを記載 -->
         {% for post in posts %}
            <div>
                <a href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                <p><h3>{{ post.subtitle }}</h3></p>
                <p>Author: {{ post.author }}<br>Date: {{ post.date_posted|date:"M d, Y" }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>